<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../styles/style.css" type="text/css">
    <title>Add User Details</title>
  </head>
  <style>
  	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	  }
	
	  #heading {
		
		font-family: "Jost", sans-serif;
		font-size: 30px;
		letter-spacing: 1px;
		
	  }
	  
	  .navbar-nav .nav-link {
		margin: 0 30px;
	  }
	  
	  .nav-link:hover {
		color: grey;
	  }
	  
	  .card {
		margin-top: 30px;
		border: 0px solid white;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}
	.content {
		width: 40%;
		color: white;
		margin: 20px;
	}
	
	h2 {
		font-size: 4em;
		font-weight: bold;
	}
	
	  .conatiner1 {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	
	.card {
		margin-top: -42%;
		padding: 10px 30px;
	}
	
	.card-body h3 {
		font-size: 3em;
		font-weight: bold;
		margin-bottom: 30px;
	}
	
	.form-control {
		border-radius: 13px;
		border: 1px solid rgb(2, 123, 255);
	}
	 p {
		margin-top: 30px;
		line-height: 30px;
	}
	 .whiteBorder {
		border: 1px solid white;
		border-radius: 5px;
		width: 100px;
		padding: 10px;
	}
	
	.whiteBorder:hover {
		background-color: white;
		color: rgb(2, 123, 255);
	}
	
	img{
		width:58%;
		height:50%;
		text-align:center;
		border-radius:5px;
		margin-left:100px;
		margin-top:20px;
	}
	
	.required:after { content:" *"; color: red; }
  </style>
  <body class="bg-primary">
  
  <!-- navbar design -->
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" id="heading" href="/"> REKRUIT </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/login">Home <span class="sr-only">(current)</span></a>
      </li>
     
    </ul>
     <a class="nav-link whiteBorder btn btn-primary" href="/logout">Logout</a>
  </div>
</nav>
  
    


	<div class="container1">
		<div class="content">
			<h2>Add details to Rekruit!</h2>
			<p>Fill out the form and we will tell you why Rekruit is the trusted solution for recruitment of all sizes.</p>
			
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
			Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
			when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			 It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
			 It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
			  and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> 
			 <img src="/assets/img/addDetails.jpeg" alt="add_details"/>
		</div>
		<div>
			<div class="col-md-12">
				<div class="card float-right">
					<div class="card-body">
						<h3 class="text-center text-primary">Our experts are of form way</h3>

						<form th:action="@{/register}" method="post">
						
						<div class="form-group">
							<label> <h5> Basic Details </h5></label> 
							<br/>
							<label> Name of the candidate </label><span style="color:#ff0000"> *</span> 
							<div class="row">
						    <div class="col">
						      <input type="text" class="form-control required" pattern="^[a-zA-Z]*$" placeholder="First name" name="firstName" required>
						    </div>
						    <div class="col">
						      <input type="text" class="form-control" pattern="^[a-zA-Z ]*$" placeholder="Last name" name="lastName" required>
						    </div>
						  </div>
						  </div>
						  
						  <div class="form-group">
						  <label> Email address</label> <span style="color:#ff0000"> *</span> 
						  <div class="row">
						    <div class="col">
						      <input type="email" class="form-control" placeholder="Email ID" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" name="email" required>
						    </div>
						    <div class="col">
						      <input type="email" class="form-control" placeholder="Alternate Email" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" name="alternateEmail">
						    </div>
						  </div>
						  </div>


							<div class="form-group"> 
								<label> Residential Address</label> <span style="color:#ff0000"> *</span> 
								 <input type="text" class="form-control" name="address" required>
							</div>

							<div class="form-group">
							  <label> Contact details </label> <span style="color:#ff0000"> *</span> 
							  <div class="row">
							    <div class="col">
							      <input type="text" class="form-control" placeholder="Contact No" pattern="^[6789]\d{9}$" name="contactNo" required>
							    </div>
							    <div class="col">
							      <input type="text" class="form-control" placeholder="Alternate Contact No." pattern="^[6789]\d{9}$" name="alternatePhone">
							    </div>
							  </div>
						  </div>
						


							<div class="form-group">
								<label> <h5> Educational Qualification </h5></label>  <span style="color:#ff0000"> *</span> 
								<div class="row">
							    <div class="col">
							      <select class="form-control" id="degree" name="degree">
								      <option>Degree</option>
								      <option>BE</option>
								      <option>B.TECH</option>
								      <option>B.ARCH</option>
								      <option>BA</option>
								      <option>Bsc</option>
								       <option>BA.BL</option>
								       <option>BBA</option>
								       <option>BMS</option>
								        <option>MA</option>
								        <option>MSC</option>
								        <option>MTECH</option>
								        <option>MS</option>
								    </select>
							    </div>
							    <div class="col">
							      <select class="form-control" id="domain" name="domain">
								      <option>Domain</option>
								      <option>CSE</option>
								      <option>IT</option>
								      <option>EEE</option>
								      <option>ECE</option>
								      <option>MECH</option>
								       <option>CHEMICAL</option>
								       <option>BIOTECH</option>
								        <option>CIVIL</option>
								       <option>ARTS</option>
								        <option>LITERATURE</option>
								        <option>MATH</option>
								        <option>LIFE SCIENCE</option>
								        <option>OTHER</option>
								    </select>
							    </div>
							  </div>
							  <br/>
							  <div class="row">
							  	<div class="col">
							      <input type="number" class="form-control" placeholder="CGPA (If you have)" min="1" max="10" name="cgpa">
							    </div>
							    <div class="col">
							      <input type="number" class="form-control" placeholder="% in HSC (If you have)" min="0" max="100" name="hsc">
							    </div>
							    <div class="col">
							      <input type="number" class="form-control" placeholder="% in SSLC (If you have)" min="0" max="100" name="sslc">
							    </div>
							  </div>
							  
							 <br/>
							<div class="form-group">
							<label> <h5> Skills and Technologies </h5></label> <span style="color:#ff0000"> *</span> 
							<br/>
							<div class="row">
							  	<div class="col">
							      <input type="text" class="form-control" placeholder="Highly Preferred Tech" name="tech1" required> 
							    </div>
							    <div class="col">
							      <input type="number" class="form-control" placeholder="Rate your level out of 10" min="1" max="10" name="tech1_level" required>
							    </div>
							  </div>
							  <br/>
							  <div class="row">
							  	<div class="col">
							      <input type="text" class="form-control" placeholder="Preferred Tech/skill" name="tech2">
							    </div>
							    <div class="col">
							      <input type="number" class="form-control" placeholder="Rate your level out of 10" min="1" max="10" name="tech2_level">
							    </div>
							  </div>
							   <br/>
						   	 <div class="row">
							  	<div class="col">
							      <input type="text" class="form-control" placeholder="Preferred Tech/Skill" name="tech3">
							    </div>
							    <div class="col">
							      <input type="number" class="form-control" placeholder="Rate your level out of 10" min="1" max="10" name="tech3_level">
							    </div>
							  </div>
						     <br/>
						     
						     <label> <h5> Other Details </h5></label> <span style="color:#ff0000"> *</span> 
						      <div class="row">
							  	<div class="col">
							      <input type="text" class="form-control" placeholder="Years of Experience" name="experience" required>
							    </div>
							    <div class="col">
							      <input type="text" class="form-control" placeholder="Academic Establishments" name="establishment" required>
							    </div>
							    <div class="col">
							      <input type="text" class="form-control" placeholder="Accomplishments" name="accomplishment" required>
							    </div>
							   
							  </div>
							  <br/>
							  <div class="row">
							   
							   <div class="col">
							   	<label for="exampleFormControlTextarea1">Internship Experiences (If any)</label>
							  	 <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="internship"></textarea>
							   </div>
							   
							     <div class="col">
							   	<label for="exampleFormControlTextarea1">Project Description (If any)</label>
							  	 <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="project"></textarea>
							   </div>
							   </div>
							   <br/>
							   <div class="row">
							   
							   <div class="col">
							   	<label for="exampleFormControlTextarea1"> Hobbies </label> <span style="color:#ff0000"> *</span> 
							  	 <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="hobbies" required></textarea>
							   </div>
							   
							     <div class="col"> 
							   	<label for="exampleFormControlTextarea1"> Interests </label> <span style="color:#ff0000"> *</span> 
							  	 <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="interests" required></textarea>
							   </div>
							   
							    <div class="col">
							   	<label for="exampleFormControlTextarea1">Portfolio/Project links</label>
							  	 <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="links"></textarea>
							   </div>
							   </div>
							   <br>
							   <div class="row">
							   	<div class="col">
							   	<label for="exampleFormControlTextarea1"> What makes yourself stand out from others ?</label>
							  	 <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="myusp"></textarea>
							   </div>
							 
							  </div>
							  
							   <br>
							  <div class="form-check">
							  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required> 
							  <label class="form-check-label" for="flexCheckDefault">
							    I accept that the details provided by me are true to the best of my knowledge and agree to enclose my details.
							  </label> <span style="color:#ff0000"> *</span> 
								</div>
						  	<br/>
						  		<div class="row">
						  			<div class="col"></div>
						  			<div class="col">
						  				<button class="btn btn-primary btn-block">Submit</button>
						  			</div>
						  			<div class="col"></div>
						  		</div>
						  </div>
								
							</div>

							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>



	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>
