<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	
	<link rel="stylesheet" href="../styles/style.css" type="text/css">
   <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
   
    <title>Search Result</title>
  </head>
  <style>
  	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	  }
	
	   #heading {
		
		font-family: "Jost", sans-serif;
		font-size: 30px;
		letter-spacing: 1px;
		
	  }
	  
	  .navbar-nav .nav-link {
		margin: 0 30px;
	  }
	  
	.card {
		margin-top: 50px;
		border: 0px solid white;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}
	
	.form-control {
		border-radius: 13px;
		border: 1px solid rgb(2, 123, 255);
	}
  </style>
 
  <body>
  
  <!-- navbar design -->
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" id="heading" href="#"> Rekruit </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item active">
        <a class="nav-link" href="add"> Add details </a>
      </li> -->
    </ul>
  </div>
</nav>
  
    


	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
							<table class="table table-bordered table-striped" th:object="${user}">
							<h3 class="text-center p-3 mb-2 bg-primary text-white font-weight-bold font-italic" th:text="${'Application of ' + user.firstName + ' ' + user.lastName + ', ID: ' + user.id}"></h3>
							  <br>
							  <thead class="bg-primary text-white">
							    <tr>
							      <th scope="col">Specification</th>
							      <th scope="col">Your details</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr><td class="col-md-6">Your ID</td><td th:text="${user.id}"></td></tr>
							    <tr><td>First Name</td><td th:text="${user.firstName}"></td></tr>
							     <tr><td>Last Name</td><td th:text="${user.lastName}"></td></tr>
							      <tr><td>Email ID</td><td th:text="${user.email}"></td></tr>
							      <tr><td>Alternate email</td><td th:text="${user.alternateEmail}"></td></tr>
							      <tr><td>Residential Address</td><td th:text="${user.address}"></td></tr>
							      <tr><td>Contact Details</td><td th:text="${user.contactNo}"></td></tr>
							       <tr><td>Alternate contact</td><td th:text="${user.alternatePhone}"></td></tr>
							       <tr><td>Degree</td><td th:text="${user.degree}"></td></tr>
							       <tr><td>Domain</td><td th:text="${user.domain}"></td></tr>
							        <tr><td>Your CGPA</td><td th:text="${user.cgpa}"></td></tr>
							        <tr><td>HSC %</td><td th:text="${user.hsc}"></td></tr>
							         <tr><td>SSC %</td><td th:text="${user.sslc}"></td></tr>
							           <tr><td>Most Preferred Tech stack</td>
							           <td th:text="${user.tech1}"></td>
							           </tr>
									<tr><td>Experience</td><td th:text="${user.experience}"></td></tr>
									<tr><td>Establishment</td><td th:text="${user.establishment}"></td></tr>
									<tr><td>Accomplishments</td><td th:text="${user.accomplishment}"></td></tr>
									<tr><td>Internship details</td><td th:text="${user.internship}"></td></tr>
									<tr><td>Project details</td><td th:text="${user.project}"></td></tr>
									<tr><td>Hobbies</td><td th:text="${user.hobbies}"></td></tr>
									<tr><td>Other Interests</td><td th:text="${user.interests}"></td></tr>
									<tr><td>Portfolio/other links</td><td th:text="${user.links}"></td></tr>
									<tr><td>Your USP</td><td th:text="${user.myusp}"></td></tr>
									
							  </tbody>
							</table>
							<div class="row">
								<div class="col"></div>
								<div class="col">
									<form th:action= "@{/mailUser/{id}(id=${user.id})}" method="post">
										<a><button class="btn btn-primary btn-block"> Shortlist Candidate </button></a>
									</form>
									<br/>
									<form th:action= "@{/mailUserAttachment/{id}/{firstName}/{lastName}(id=${user.id},firstName=${user.firstName},lastName=${user.lastName})}" method="post">
										<a><button class="btn btn-primary btn-block"> Select the candidate  </button></a>
									</form>
									
								</div><div class="col"></div>
							</div>
							
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>



	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>
